<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Record</title>
    <style>
        *{
            font-family:Arial, Helvetica, sans-serif;
            font-weight: bold;
        }
        .btnstyle{
            background-color:purple;
            color:black;
            padding:10px;
            border-radius: 8px;
            border:none;
            margin: 10px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Campaign</h1><br>
<p><h2>Enter your Campaign details</h2></p>
<form action="{{ url_for('campaigns') }}" method="POST" enctype="multipart/form-data">
    <label>Name</label><br><br>
    <input type="text" placeholder="Enter your Name" name="name"><br><br>
    <label>Description</label><br><br>
    <input type="text" placeholder="Description" name="description"><br><br>
    <label>Fund Required</label><br><br>
    <input type="text" placeholder="amount" name="fund"><br><br>
    <h2>Upload Documents</h2>
    <label>First Document Name</label><br><br>
    <input type="text" placeholder="doc name" name="docname1"><br><br>
    <input type="file" style="width:200px" id="actual-btn" name="file1"><br><br>
    <label>Second Document Name</label><br><br>
    <input type="text" placeholder="doc name" name="docname2"><br><br>
    <input type="file" style="width:200px" id="actual-btn" name="file2"><br><br>
    <p><button>Submit</button></p> 
</form>

</body>
</html>
